.player-head {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    width: 256px;
    height: 256px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
  }
  
  .player-head:hover {
    transform: scale(1.1);
  }
  
  h1 {
    font-size: 24px;
    position: absolute;
    left: calc(50% - 480px);
    transform: translateX(-50%);
    bottom: 310px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Minecraftia', sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  h1::after {
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #ffffff;
  }
  
  

.play-element {
    margin: 400px auto; /* Ajustez la valeur de la marge supérieure selon vos besoins */
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Minecraftia';
    color: rgba(255, 255, 255, 0.8);
}


.play-btn {
    position: relative;
    text-align: center;
    user-select: none;
    font-family: 'Minecraftia';
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 2px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px 35px;
    cursor: pointer;
    border-radius: 25px;
    animation: pulse 2s infinite;
}
.play-btn:hover {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
    transform: scale(1.1);
}

.download-content {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Minecraftia';
    color: rgba(255, 255, 255, 0.8);
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-download,
.progress-bar {
    display: none;
    position: relative;
    text-align: center;
    user-select: none;
    font-family: 'Minecraftia';
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 2px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px 35px;
    cursor: default;
    border-radius: 25px;
    animation: pulse 2s infinite;
}

.progress-bar::-webkit-progress-bar {
    background-color: #ffffff;
    border-radius: 10px;
}

.progress-bar::-webkit-progress-value {
    background-color: #ff0000;
    border-radius: 10px;
}




