.login-type {
    margin: 400px auto; /* Ajustez la valeur de la marge supérieure selon vos besoins */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-type-btn {
    position: relative;
    text-align: center;
    user-select: none;
    font-family: 'Minecraftia';
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    font-weight: 900;
    font-size: 40px;
    letter-spacing: 2px;
    border: none;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    padding: 20px 35px;
    cursor: pointer;
    border-radius: 25px;
    animation: pulse 2s infinite;
  }
  
  

.login-type-btn:hover {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
    transform: scale(1.1);
}

.login-type-btn:disabled {
    background-color: #8f4343;
    cursor: not-allowed;
    box-shadow: none;
}

.login-type-btn:disabled:hover {
    background-color: #8f4343;
    cursor: not-allowed;
    box-shadow: none;
}

#login-image {
    max-width: 30%;
    height: auto;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
    transition: filter 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 180px;
    left: 50%;
    user-select: none;
    transform: translate(-50%, -50%);
    transform-origin: center top;
}

#login-image:hover {
    filter: drop-shadow(0px 0px 10px rgb(255, 255, 255));
}
#sociaux-image {
    width: auto;
    user-select: none;
    height: auto;
    filter: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.2));
    transition: filter 0.3s ease, transform 0.3s ease;
}

#sociaux-image:hover {
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
    transform: scale(1.1);
}

.rectangle-block {
    position: fixed;
    user-select: none;
    bottom: 30px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    font-size: 20px;
    line-height: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-radius: 25px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.bouton_stats {
    color: rgba(255, 255, 255, 0.8);
    white-space: nowrap;
    font-size: 18px;
    display: inline-block;
    font-family: 'Minecraftia';
    font-weight: 900;
    user-select: none;
    text-shadow: 0px 0px 20px #949494;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 25px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 1px;
    position: fixed;
    bottom: 90px;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
}

.bouton_stats:hover {
    background-color: rgba(0, 0, 0, 0.8);
}